<div class="top-bar">
  <button class="steps"
          (click)="switchToStep(1)"
          id="step1">
    Step 1
  </button>

  <button class="steps"
          (click)="switchToStep(2)"
          [disabled]="selectedTeslaIndexes()?.selectedColorIndex === undefined"
          id="step2">
    Step 2
  </button>

  <button class="steps"
          (click)="switchToStep(3)"
          [disabled]="selectedTeslaIndexes()?.selectedConfigurationIndex === undefined"
          id="step3">
    Step 3
  </button>
</div>

<div>
  <app-model-selection
    *ngIf="currentStep === 1"
    [teslaModels]="teslaModelList()"
    [preSelectedModel]="selectedTeslaIndexes()"
    (chooseModel)="updateSelectedModel($event)"
    (chooseColor)="updateSelectedColor($event)"/>

  <app-options-selection
    *ngIf="currentStep === 2"
    [teslaConfig]="teslaModelList()[selectedTeslaIndexes()?.selectedModelIndex!].teslaConfiguration"
    [selectedTeslaIndexes]="selectedTeslaIndexes()"
    (updateSelectedModel)="updateSelectedModelConfiguration($event)"
  />

  <app-summary
    *ngIf="currentStep === 3"
    [tesla]="finalTeslaModel!"
  />
</div>

<div>
  <ng-container *ngIf="selectedTeslaIndexes()">
    <img [ngSrc]="imageLocation()"  width="720" height="480" alt="Tesla car display" />
  </ng-container>
</div>
