<div class="top-bar">
  <button class="steps"
          (click)="switchToStep('one')"
          id="step1">
    Step 1
  </button>

  <button class="steps"
          (click)="switchToStep('two')"
          [disabled]="finalTesla().color === undefined"
          id="step2">
    Step 2
  </button>

  <button class="steps"
          (click)="switchToStep('three')"
          [disabled]="finalTesla().options === undefined"
          id="step3">
    Step 3
  </button>
</div>

<router-outlet />

<app-picture-display [tesla]="finalTesla" />
